*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#F8FAFC;
  color:#1E293B;
}

a{
  text-decoration:none;
  color:inherit;
}

li{
  list-style:none;
}